.btn-opcoes {
    padding-bottom: 18px;
}

.perfil {
    background-color: #f2f2f2;
}
.destaque {
    font-weight: bold;
}
/*
 * Blocos
 */
.main-box {
    background: #FAFAFA;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 1px #CCCCCC;
    margin-bottom: 16px;
    padding: 20px;
}

.infographic-box i {
    font-size: 2.9em;
    display: block;
    float: left;
    margin-right: 15px;
    margin-top: 5px;
    width: 40px;
    text-align: center;
}

.infographic-box .headline {
    display: block;
    font-size: 1.2em;
    font-weight: 300;
}